html{
	background-color: #F0F0EF;
}
#contents {
	width: 600px;
	margin:0 auto;
}
#contents > img {
	float:left;
}
ul {			
	list-style: none;
	padding-top:5px;
}
li {
	margin-bottom:10px;
}
li > label {
	width:80px;
	float:left;
	text-align:right;
	position: relative;
	top:5px;
}
li > select{
	width:155px;
	height:35px;
	padding:5px 10px;
	margin:0 5px 0 10px;
}
input[type="date"]{
	width:130px;
	padding:5px 10px;
	margin:0 5px 0 10px;
}
input[type="text"] {
	width:110px;
	padding:5px 10px;			
	margin:0 5px 0 10px;
}
li:nth-child(3) {
	margin-top:20px;
	text-align: center;
}
button {
	padding:5px 10px;
	border:1px solid #ccc;			
	font-size:1em;
}
#showResult {
	margin-top:20px;
	font-size:1.2em;
	color: white;
	font-weight: bold;
	background-color: #106CAF;	
	padding:10px;		
}
h1{
	text-align:center;
	font-family: '맑은 고딕', sans-serif;
	font-size: 2.5em;
	font-weight: bold;
	color: #106CAF;
}